content {
  position: fixed;
}

h1 {
  text-align: center;	 
}

.grid-container {
  display: grid;
 /* grid-template-columns: repeat(3, auto); */
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
}

@media screen and (orientation: landscape) 
              and (max-width: 629px) {
  .grid-container {
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px; /*10px; */
  }

  .flip-container, .front, .back {
	width: 61px;
	height: 67px;
	background-size: contain;
  }
}  

@media screen and (orientation: landscape) 
              and (min-width: 630px)
              and (max-width: 1049px) {
  .grid-container {
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px; 
  }

  .flip-container, .front, .back {
	width: 80px;
	height: 88px;
	background-size: contain;
  }
}  

@media screen and (orientation: landscape)
 and (min-width: 1050px) {
  .grid-container {
    grid-template-columns: repeat(8, auto);
    grid-gap: 10px; 
  }

  .flip-container, .front, .back {
	width: 122px;
	height: 134px;
	/*background-size: contain;*/
  }
}

@media screen and (max-width: 989px)
              and (orientation: portrait) {
  .grid-container {
  grid-template-columns: repeat(3, auto);
  grid-gap: 1rem; /*10px; */
  /* background-color: yellow; */
  }

  .flip-container, .front, .back {
	width: 61px;
	height: 67px;
	background-size: contain;
  }
}

@media screen and (orientation: portrait) 
              and (min-width: 990px){
  /*iPad Pro*/           	
  .grid-container {
    grid-template-columns: repeat(4, auto);
    grid-gap: 8px; 
  }

  .flip-container, .front, .back {
	width: 122px;
	height: 134px;
	background-size: contain;
  }
}

.flip-container {
  background-color: rgba(255, 255, 255, 1);
  /*padding: 2px 0; */
  perspective: 1000px;
}

/* flip the pane when hovered */
/*	.flip-container:hover .flipper, .flip-container.hover .flipper { */
/*	.flip-container.flipper { */
   .flip-container.face .flipper { 
		transform: rotateY(180deg);
	}


/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;

    border: 2px solid #007FC6;
    -webkit-border-radius: 5%;  /* Safari */  
    -moz-border-radius: 5%;     /* Firefox */  
    -o-border-radius: 5%;       /* Opera */     
    border-radius: 5%;

    background-repeat: no-repeat;
    background-origin: border-box; /*content-box;*/
    background-position: center;
}

/* front pane, initially hidden pane*/
.front {
	/* for firefox 31 */
	transform: rotateY(180deg);
}

/* back, placed above front */
.back {
	z-index: 2;
	transform: rotateY(0deg);
}

.hidden {
	visibility: hidden;
}

/* Background for Modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: #007FC6; 
    opacity: 0.4; 
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 2px solid #007FC6;
    -webkit-border-radius: 10px;  /* Safari */  
    -moz-border-radius: 10px;     /* Firefox */  
    -o-border-radius: 10px;       /* Opera */     
    border-radius: 10px;
    width: 50%;
}

/* Buttons */

/*
.modal-buttons {
}
*/

.modal-btn {
    color: #007FC6;
    font-size: 22px;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.modal-btn:hover,
.modal-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}